<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h2 class="center-align">Welcome to {{ title }}!</h2>
  <p class='flow-text'>Our app was created from the ground up to help parents overcome the challenges of being a new parent.
    We make it easy to track feedings, pees, and bowel movements. We also make it easy to track mom's breast feeding amounts to make sure
    her supply is staying up! We will keep daily totals as well so you can look back &amp; see how you've been doing.
    We'll send you emails at the end of the month to show up how you and baby are doing with tips to keep you on track!
  </p>
  <app-feedings></app-feedings>
</div>
